@media (max-width: 992px) {
  .header-nav__burger {
    display: block;
  }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}
